# include ./themes/rose-pine.conf
include ./keymap.conf
#listen_on unix:/tmp/kitty
allow_remote_control yes
font_family JetBrainsMono Nerd Font
font_size 15.0
term xterm-256color
{{- if eq .compagnyName "GOTO" }}
startup_session startup_goto.conf
{{- else }}
startup_session startup.conf
{{- end }}
