[default]
region = us-east-1

{{if eq .compagnyName "GOTO" -}}
[profile live]
sso_start_url = https://lmiprod.awsapps.com/start
sso_region = us-east-1
sso_account_id = 166326072041
sso_role_name = JiveDevops
region = us-east-1
output = json
role_session_name = gbedard@lmiprod.com

[profile ed]
sso_start_url = https://lmiprod.awsapps.com/start
sso_region = us-east-1
sso_account_id = 558054557334
sso_role_name = JiveDevDevops
region = us-east-1
output = json
role_session_name = gbedard@lmiprod.com

[profile stage]
sso_start_url = https://lmiprod.awsapps.com/start
sso_region = us-east-1
sso_account_id = 940118815810
sso_role_name = JiveStageDevops
region = us-east-1
output = json
role_session_name = gbedard@lmiprod.com

[profile vault-ed]
sso_start_url = https://lmiprod.awsapps.com/start
sso_region = us-east-1
sso_account_id = 147144174915
sso_role_name = WorkspaceAdmin
region = us-east-1
output = json
role_session_name = gbedard@lmiprod.com

[profile vault-stage]
sso_start_url = https://lmiprod.awsapps.com/start
sso_region = us-east-1
sso_account_id = 016716465459
sso_role_name = WorkspaceAdmin
region = us-east-1
output = json
role_session_name = gbedard@lmiprod.com

[profile vault-live]
sso_start_url = https://lmiprod.awsapps.com/start
sso_region = us-east-1
sso_account_id = 761162862654
sso_role_name = WorkspaceAdmin
region = us-east-1
output = json
role_session_name = gbedard@lmiprod.com

[profile tools-live]
sso_start_url = https://lmiprod.awsapps.com/start
sso_region = us-east-1
sso_account_id = 816710964153
sso_role_name = WorkspaceAdmin
region = us-east-1
output = json
role_session_name = gbedard@lmiprod.com

{{- end }}
