[user]
  name = Gabriel Bedard
  email = {{ .email | quote }}
  signingkey = {{ .signingKey | quote }}
[commit]
  gpgsign = true
  template = {{ .chezmoi.homeDir }}/.gitmessage
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
  pager = less --mouse
